[submodule "jutge-vinga"]
	path = jutge-vinga
	url = github:jutge-org/jutge-vinga
[submodule "jutge-toolkit"]
	path = jutge-toolkit
	url = github:jutge-org/jutge-toolkit
[submodule "jutge-server-toolkit"]
	path = jutge-server-toolkit
	url = github:jutge-org/jutge-server-toolkit
